<div class="flex justify-center text-center main_image">
  <div>
    <h1 class="text-4xl py-20"><%= t('.title') %></h1>
    <%= form_with model: @user, local: true do |f| %>
      <div class="mb-10 text-2xl">
        <%= f.label :email, User.human_attribute_name(:email) %>
        <%= f.email_field :email, class: 'input input-bordered input-primary w-full' %>
      </div>
      <div class="mb-10 text-2xl">
        <%= f.label :password, User.human_attribute_name(:password) %>
        <%= f.password_field :password, class: 'input input-bordered input-primary w-full' %>
      </div>
      <div class="actions mb-20">
        <%= f.submit (t 'defaults.login'), class: 'btn btn-primary text-white' %>
      </div>
    <% end %>
  </div>
</div>
